<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/estilos.css">
    <title>Mundo Coche</title>
</head>
<body>
    <header>
        <ul class="header">
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="../views/galeria.html">Galería</a></li>
            <li><a href="../views/presupuesto.html">Presupuestos</a></li>
            <li><a href="../views/contacto.html">Contacto</a></li>
            <li><img src="../images/iconoLogo.jpg" class="logo" width="1024" height="1024" alt="logo"></li>
        </ul>
        
    </header>

    <main>
        <h1>Aviso Legal</h1>
        <h2>1. Identificación del Titular</h2>
        <p>En cumplimiento con la legislación vigente, se informa a los usuarios que el presente sitio web, <strong>Mundo Coche</strong>, es propiedad de <strong>Mundo Coche S.L.</strong>, con domicilio en Av. de Navarra, 93, Delicias, 50017 Zaragoza con CIF: X12345678 y correo electrónico de contacto: contacto@mundocoche.com.</p>
        <h2>2. Objeto</h2>
        <p>El presente Aviso Legal regula el acceso, navegación y uso del Sitio Web, así como las responsabilidades derivadas de la utilización de sus contenidos, productos y servicios.</p>           
        <h2>3. Condiciones de Uso</h2>
        <ul>
            <li>El acceso al Sitio Web es libre y gratuito.</li>
            <li>El usuario se compromete a hacer un uso adecuado del contenido.</li>
            <li>Mundo Coche S.L. se reserva el derecho de modificar el contenido del Sitio Web en cualquier momento sin previo aviso.</li>
        </ul>  
        <h2>4. Propiedad Intelectual e Industrial</h2>
        <p>Todos los contenidos del Sitio Web, incluyendo textos, imágenes y logotipos, están protegidos por derechos de propiedad intelectual e industrial.</p>
        <h2>5. Responsabilidad</h2>
        <p>Mundo Coche S.L. no se responsabiliza por daños derivados del uso de la información del Sitio Web.</p>
        <h2>6. Protección de Datos Personales</h2>
        <p>Los datos personales recogidos serán tratados conforme a la Política de Privacidad disponible en el sitio.</p>
        <h2>7. Enlaces a Terceros</h2>
        <p>El Sitio Web puede incluir enlaces a páginas web de terceros, de los cuales Mundo Coche S.L. no se hace responsable.</p>
        <h2>8. Legislación Aplicable y Jurisdicción</h2>
        <p>Este Aviso Legal se rige por la legislación española. Para cualquier controversia, ambas partes se someten a los tribunales de Ciudad Ejemplo, España.</p>
        <p>Para consultas, contáctenos en: <strong>contacto@mundocoche.com</strong></p>
    </main>

    <footer>
        <ul>
            <li>
                <a href="https://www.facebook.com/profile.php?id=61574948876670">
                    <img src="../images/logoFacebook.jpg" class="redes" width="800" height="800" alt="logo">
                </a>
            </li>
            <li>
                <a href="https://x.com/coche_mundo">
                    <img src="../images/logoTwitter.jpg" class="redes"  width="255" height="255" alt="logo">
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/mundocoche80/">
                    <img src="../images/logoInstagram.jpg" class="redes" width="490" height="488" alt="logo">
                </a>
            </li>
        </ul>
        <address>
            <strong>Mundo Coche S.L.</strong><br>
            Av. de Navarra, 93, Delicias, 50017 Zaragoza<br>
            Teléfono: +34 123 456 789<br>
            Email: <a href="mailto:contacto@mundocoche.com">contacto@mundocoche.com</a>
        </address>
        <p>Aviso legal</p>
    </footer>
</body>
</html>