<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/estilos.css">
    <title>Mundo Coche</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
        integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="">
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
    <script src="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.min.js"></script>   
</head>
<body>  
    <header>
        <ul class="header">
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="galeria.html">Galería</a></li>
            <li><a href="presupuesto.html">Presupuestos</a></li>
            <li class="actual"><a href="contacto.html">Contacto</a></li>
            <li><img src="../images/iconoLogo.jpg" class="logo" width="1024" height="1024" alt="logo"></li>
        </ul>
    </header>

    <main>
        <h1>Datos de contacto</h1>
        <div class="info">
            <p><strong>Dirección:</strong> Av. de Navarra, 93, Delicias, 50017 Zaragoza</p>
            <p><strong>Teléfono:</strong> +34 123 456 789</p>
            <p><strong>Email:</strong> <a href="mailto:contacto@mundocoche.com">contacto@mundocoche.com</a></p>
          </div>
          
        <div id="mi_mapa" class="mapa"></div>
        <div id="controles"  class="contacto">
            <label>
                <input type="checkbox" id="consentimiento">
                Acepto compartir mi ubicación
            </label>
            <button id="botonRuta" disabled  class="boton-ruta">Mostrar Ruta</button>
        </div>
               
    </main>

    <footer>
        <ul>
            <li>
                <a href="https://www.facebook.com/profile.php?id=61574948876670">
                    <img src="../images/logoFacebook.jpg" class="redes" width="800" height="800" alt="logo">
                </a>
            </li>
            <li>
                <a href="https://x.com/coche_mundo">
                    <img src="../images/logoTwitter.jpg" class="redes"  width="255" height="255" alt="logo">
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/mundocoche80/">
                    <img src="../images/logoInstagram.jpg" class="redes" width="490" height="488" alt="logo">
                </a>
            </li>
        </ul>
        <address>
            <strong>Mundo Coche S.L.</strong><br>
            Av. de Navarra, 93, Delicias, 50017 Zaragoza<br>
            Teléfono: +34 123 456 789<br>
            Email: <a href="mailto:contacto@mundocoche.com">contacto@mundocoche.com</a>
        </address>
        <p><a href="avisolegal.html">Aviso legal</a></p>
    </footer>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="../js/contacto.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.min.js"></script>
</body>
</html>