<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/estilos.css" media="screen">
    <title>Mundo Coche</title>
</head>
<body>
    <header>
        <ul class="header">
            <li><a href="../index.html">Inicio</a></li>
            <li class="actual"><a href="galeria.html">Galería</a></li>
            <li><a href="presupuesto.html">Presupuestos</a></li>
            <li><a href="contacto.html">Contacto</a></li>
            <li><img src="../images/iconoLogo.jpg" alt="logo"></li>
        </ul>
        
    </header>

    <main>
        <h1>Galería de coches disponibles</h1>
        <div id="galeria" class="galeria"></div>
    </main>

    <footer>
        <ul>
            <li>
                <a href="https://www.facebook.com/profile.php?id=61574948876670">
                    <img src="../images/logoFacebook.jpg" class="redes" alt="logo">
                </a>
            </li>
            <li>
                <a href="https://x.com/coche_mundo">
                    <img src="../images/logoTwitter.jpg" class="redes" alt="logo">
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/mundocoche80/">
                    <img src="../images/logoInstagram.jpg" class="redes" alt="logo">
                </a>
            </li>
        </ul>
        <address>
            <strong>Mundo Coche S.L.</strong><br>
            Av. de Navarra, 93, Delicias, 50017 Zaragoza<br>
            Teléfono: +34 123 456 789<br>
            Email: <a href="mailto:contacto@mundocoche.com">contacto@mundocoche.com</a>
        </address>
        <p><a href="avisolegal.html">Aviso legal</a></p>
    </footer>
    <script src="../js/galeria.js"></script>
</body>
</html>